[project]
	description = test repo for vishal
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/vishalvsh1
[access "refs/for/refs/*"]
	read = group user/vishalvsh1
	push = group user/vishalvsh1
	label-Code-Review = -2..+2 group user/vishalvsh1
	label-Verified = -1..+1 group user/vishalvsh1
	rebase = group user/vishalvsh1
	removeReviewer = group user/vishalvsh1
	submit = group user/vishalvsh1
[access "refs/heads/*"]
	read = group user/vishalvsh1
	create = group user/vishalvsh1
	push = +force group user/vishalvsh1
	pushMerge = group user/vishalvsh1
[access "refs/tags/*"]
	push = +force group user/vishalvsh1
	pushTag = group user/vishalvsh1
	pushSignedTag = group user/vishalvsh1
